<html>
  <head>
    <meta charset="utf-8" />
    <title>Klant gegevens</title>

    <style>
      span,
      option,
      input,
      button,
      p {
        font-size: 20px;
      }

      .table {
        display: table;
        width: 90%;
        text-align: center;
      }

      .row {
        display: table-row;
        height: 65px;
      }

      .cell {
        display: table-cell;
        border: solid;
        border-width: thin;
        padding-left: 5px;
        padding-right: 5px;
        width: 30%;
        vertical-align: middle;
      }

      #ingave {
        margin: 10px;
      }

      .bg1 {
        background-color: #ffe633;
      }

      .bg2 {
        background-color: #d4ca87;
      }

      section {
        margin: 50px 20px;
      }

      nav {
        margin-bottom: 20px;
      }

      .router-link-active {
        font-weight: bold;
      }
    </style>
  </head>

  <body>
    <div id="app">
      <h1>Klantgegevens</h1>

      <nav>
        <router-link to="/">Home</router-link>
        <span> - </span>
        <router-link to="/overzicht">Overzicht</router-link>
      </nav>

      <router-view></router-view>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/vue-router@4"></script>

    <script>
      const home = {
        template: `
          <section id="ingave">
            <span>Voornaam</span>
            <input type="text" v-model="vnaam" />

            <span>Achternaam</span>
            <input type="text" v-model="anaam" />

            <span>Geboortedatum</span>
            <input type="text" v-model="geboortedatum" />

            <button v-on:click="voegDataToe" v-bind:style="buttonStyle">
              Voeg toe
            </button>
          </section>
        `,
        data() {
          return {
            vnaam: "",
            anaam: "",
            geboortedatum: "",
            klantGegevens: [],
            buttonStyle: {
              backgroundColor: "#2196F3",
              cursor: "pointer",
              padding: "8px 16px",
              verticalAlign: "top",
            },
          };
        },
        methods: {
          voegDataToe: function () {
            if (
              this.vnaam != "" &&
              this.anaam != "" &&
              this.geboortedatum != ""
            ) {
              this.klantGegevens.push({
                vnaam: this.vnaam,
                anaam: this.anaam,
                geboortedatum: this.geboortedatum,
              });

              this.saveLocalStorage();
              this.maakInputsLeeg();
              alert("saved");
            } else {
              alert("Geef alle waardes in aub.");
            }
          },
          maakInputsLeeg: function () {
            this.vnaam = "";
            this.anaam = "";
            this.geboortedatum = "";
          },
          saveLocalStorage: function () {
            localStorage.setItem(
              "klantGegevens",
              JSON.stringify(this.klantGegevens),
            );
          },
        },
        mounted() {
          if (localStorage.getItem("klantGegevens")) {
            this.klantGegevens = JSON.parse(
              localStorage.getItem("klantGegevens"),
            );
          }
        },
      };

      const overzicht = {
        template: `
          <section>
            <div class="table">
              <div class="row">
                <div class="cell"><strong>Voornaam</strong></div>
                <div class="cell"><strong>Achternaam</strong></div>
                <div class="cell"><strong>Geboortedatum</strong></div>
                <div class="cell"><strong>Acties</strong></div>
              </div>
            </div>

            <div
              class="table"
              v-for="(klant, index) in klantGegevens"
              v-bind:class="{ bg1: index % 2 == 0, bg2: index % 2 != 0 }"
            >
              <div v-if="editKlant === index" class="row">
                <div class="cell">
                  <input v-model="klant.vnaam" />
                </div>
                <div class="cell">
                  <input v-model="klant.anaam" />
                </div>
                <div class="cell">
                  <input v-model="klant.geboortedatum" />
                </div>
                <div class="cell">
                  <button v-on:click="updateData(klant, index)" v-bind:style="buttonStyle">
                    Bewaar
                  </button>
                  <button v-on:click="cancelUpdateData(index)" v-bind:style="buttonStyle">
                    Cancel
                  </button>
                </div>
              </div>

              <div v-else class="row">
                <div class="cell">
                  <p>{{ klant.vnaam }}</p>
                </div>
                <div class="cell">
                  <p>{{ klant.anaam }}</p>
                </div>
                <div class="cell">
                  <p>{{ klant.geboortedatum }}</p>
                </div>
                <div class="cell">
                  <button v-on:click="editData(index)" v-bind:style="buttonStyle">E</button>
                  <button v-on:click="removeElement(index)" v-bind:style="buttonStyle">X</button>
                </div>
              </div>
            </div>
          </section>
        `,
        data() {
          return {
            klantGegevens: [],
            editKlant: null,
            changesAreSaved: true,
            vorigeKlantGegevens: {},
            buttonStyle: {
              backgroundColor: "#2196F3",
              cursor: "pointer",
              padding: "8px 16px",
              verticalAlign: "top",
            },
          };
        },
        methods: {
          saveLocalStorage: function () {
            localStorage.setItem(
              "klantGegevens",
              JSON.stringify(this.klantGegevens),
            );
          },
          removeElement: function (index) {
            this.klantGegevens.splice(index, 1);
            this.saveLocalStorage();
          },
          updateData: function (klant, index) {
            if (
              klant.vnaam != "" &&
              klant.anaam != "" &&
              klant.geboortedatum != ""
            ) {
              this.klantGegevens[index] = {
                vnaam: klant.vnaam,
                anaam: klant.anaam,
                geboortedatum: klant.geboortedatum,
              };
              this.saveLocalStorage();
              this.editKlant = null;
              this.changesAreSaved = true;
            } else {
              alert("Geef alle waardes in aub.");
            }
          },
          checkIfSavedPageLeave: function (e) {
            if (!this.changesAreSaved) {
              e.returnValue = "test";
              return;
            }
          },
          editData: function (index) {
            if (this.changesAreSaved == false) {
              alert("Andere data wordt aangepast, bewaar of cancel dit eerst.");
            } else {
              this.vorigeKlantGegevens = Object.assign(
                {},
                this.klantGegevens[index],
              );
              this.editKlant = index;
              this.changesAreSaved = false;
            }
          },
          cancelUpdateData: function (index) {
            this.editKlant = null;
            this.changesAreSaved = true;
            Object.assign(this.klantGegevens[index], this.vorigeKlantGegevens);
          },
        },
        mounted() {
          if (localStorage.getItem("klantGegevens")) {
            this.klantGegevens = JSON.parse(
              localStorage.getItem("klantGegevens"),
            );
          }

          window.addEventListener("beforeunload", this.checkIfSavedPageLeave);
        },
        beforeRouteLeave(to, from, next) {
          if (this.changesAreSaved == false) {
            const answer = window.confirm(
              "Do you really want to leave? you have unsaved changes!",
            );
            if (answer) {
              this.changesAreSaved = true;
              next();
            } else {
              next(false);
            }
          } else {
            next();
          }
        },
      };

      const router = VueRouter.createRouter({
        history: VueRouter.createWebHashHistory(),
        routes: [
          { path: "/", name: "Home", component: home },
          { path: "/overzicht", name: "Overzicht", component: overzicht },
        ],
      });

      const app = {
        data: function () {
          return {};
        },
      };

      Vue.createApp(app).use(router).mount("#app");
    </script>
  </body>
</html>
