<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <input v-model="person" size="50" />
      <button @click="addPerson()">Voeg toe</button>
      <div><p v-for="persoon in personen">{{persoon}}</p></div>
    </div>
    <script>
      const app = {
        data: function () {
          return { personen: [], persoon: "" };
        },
        methods: {
          addPersoon: function () {
            this.personen.push(this.persoon);
            this.persoon = "";
          },
        },
      };

      Vue.createApp(app).mount("#app");
    </script>
  </body>
</html>
