<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <input v-model="newColor" @keyup.enter="addNewColor" />
      <button @click="addNewColor()">Voeg toe</button>
      <ul>
        <li v-for="kleur in kleuren">{{ kleur }}</li>
      </ul>
    </div>
    <script>
      const app = {
        data: function () {
          return { kleuren: [], newColor: "" };
        },
        methods: {
          addNewColor: function () {
            this.kleuren.push(this.newColor);
            // wil je aan elementen uit het data object, kan je dat via this, dus je hoeft data niet te vermelden
            this.newColor = "";
          },
        },
      };

      Vue.createApp(app).mount("#app");
    </script>
  </body>
</html>
